:root {
  --digitize-option-color: #d0d0e0;
  --text-color: #666;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 20px;
  padding: 1vw;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
}

p {
  color: var(--text-color);
}

li {
  color: var(--text-color);
}

#map {
  height: 800px;
  width: 100%;
  left: 0px;

}

#map .leaflet-div-icon {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}

#map .leaflet-div-icon span {
  display: inline-block;
  padding: 3px;
  /* transform: translate(-50%, -50%); */
}

#map .interval-indicator {
  transform: translate(-50%, -50%);
}

#map .ylabel-left {
  transform: translate(-100%, 0%);
}

#map .ylabel-right {
  transform: translate(0%, 0%);
}

#map .xlabel {
  transform: translate(-50%, 0%);
}

#map .leaflet-div-icon b {
  display: inline-block;
  padding: 3px;
  border: 1px solid #666;
  border-radius: 3px;
  background: #fff;
  transform: translate(-100%, -50%);
}

#overview-map {
  height: 99%;
  width: 99%;
}

form {
  display: flex;
  flex-wrap: wrap;
}


.color-option {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #000;
  display: inline-block;
}

input[type="radio"] {
  margin-right: 5px;
}

.home-link {
  text-decoration: none;
  font-size: large;
  color: black;
  font-weight: bold;
  border: 1px solid #666;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}

.home-link:hover {
  background-color: #cccccc;
}

.radargram-index {
  display: grid;
  max-width: 90vw;
  grid-template-columns: repeat(auto-fill, minmax(150px, 20vw));
  grid-auto-rows: minmax(50px, auto);
}

.radargram-perglacier {
  border: 1px solid #000;
  margin: 20px;
  padding: 10px;
  display: inline-block;
}

.radargram-choice {
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 10vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  color: black;
  text-decoration: none;
}

.radargram-choice-finished {
  background-color: #ccffcc;
}

.radargram-choice-unfinished {
  background-color: #ffcccc;
}

.radargram-choice-anonymous {
  background-color: #cccccc;
}

.radargram-choice img {
  max-width: 90%;
  height: auto;
  max-height: 200px;
  display: block;
  padding: 10px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);

}

.digitize-widgets-container {
  display: grid;
  width: 100%;
  /* height: 500px; */
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 20vw)); */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  /* Sets flexible row heights */
  /* Adjust min size & columns */
  gap: 10px;
}

@media (max-width: 768px) {
  .digitize-widgets-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .digitize-widgets-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.digitize-buttons-container {
  border: 2px solid black;
  background-color: var(--digitize-option-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  width: 20vw;
}

.digitize-widgets-item {
  /* background-color: lightcoral; */
  padding: 10px;
  /* border: 1px solid #ddd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digitize-display-options-container {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  background-color: var(--digitize-option-color);
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

.digitize-widget-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.digitize-difficulty {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.digitize-difficulty label {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f9f9f9;
}

.digitize-difficulty label:hover {
  background-color: #e6f7ff;
}

.digitize-difficulty input[type="radio"] {
  margin-right: 10px;
  transform: scale(1.2);
  cursor: pointer;
}

.response-text-error {
  border: 4px solid red;
  /* font-size: 14pt; */
}

.response-text-success {
  border: 4px solid green;
  /* font-size: 14pt; */
}

.button {
  padding: 5px 10px;
  /* Adjust padding as needed */
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  /* Ensures the button sizes to its content */
  text-align: center;
  white-space: nowrap;
  /* Prevents text from wrapping */
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button.submit-button {
  margin-top: 20px;
  background-color: #ffffaa;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f4f4f4;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}

td {
  text-align: center;
  padding: 8px;
  border-top: 1px solid #ccc;
}

tr:hover {
  background-color: #cccccc;
}

.howto-content-container {
  border-bottom: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2vw;
  padding-top: 10px;
  padding-bottom: 20px;

}

@media (max-width: 600px) {
  .howto-content-container {
    flex-direction: column;

  }
}

.howto-text-content {
  flex: 1;
  /* Take up the remaining space, roughly 1/3 */
  padding: 20px;
  /* Optional padding for spacing */

}

.howto-image-content {
  flex: 2;
  /* Take up 2/3 of the width */
}

@media (max-width: 600px) {
  .howto-image-content {
    flex: 3;
    width: 100%;

  }
}

.howto-image-content img {
  max-width: 100%;
  /* Scale image to fit container */
  height: auto;
  /* Maintain aspect ratio */
  /* display: block; */
  /* Prevent unexpected gaps below images */
}

.index-location-group {
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.index-location-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.index-location-list a {
  text-decoration: none;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: black;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.index-location-list a:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.index-location-title {
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  color: #333;
}

.index-dataset-container-important {
  /* background-color: #ffd; */
  border: 1px solid #aa3;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
}

.index-dataset-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.index-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
}

.index-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.index-card-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0px;
  align-items: center;
}

.index-card img {
  max-width: 95%;
  /* height: 100%; */
  max-height: 150px;
  object-fit: contain;
  object-position: center;
  clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  /* position: absolute; */
}

.index-card-info {
  margin: 20px;
  border-bottom: 1px solid #666;
}

.index-card-title {
  font-size: 18px;
  margin: 0 0 10px;
}

.index-card-description {
  font-size: 14px;
  color: #555;
}

.index-recommended-container {
  background: linear-gradient(135deg, #ffbbbb 0%, #fff9e3 100%);
}

.index-card-finished {
  background: linear-gradient(135deg, #bbffbb 0%, #ddffdd 100%);
}

.index-card-unfinished {
  background: linear-gradient(135deg, #fff9e3 0%, #ffe6b3 100%);
}

.index-card-important {
  background: linear-gradient(135deg, #ffbbbb 0%, #ffe6b3 100%);
}

.index-instructions-link {
  font-size: 14px;
  color: #1a73e8;
  /* Google Blue for visibility */
  text-decoration: none;
  background-color: #e7f0fd;
  /* Light blue background */
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.index-instructions-link:hover {
  background-color: #d4e6fb;
}

.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
  margin: 0;
}

.user-info {
  font-size: 14px;
  padding: 10px;
  color: #666;
  margin: 0;
}

.change-class-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #666;
  padding: 3px;
  z-index: 1;
}

.show {
  display: block;
}

.progress-bar-low {
  background: linear-gradient(135deg, #ffe3e3 0%, #ffb3b3 100%);
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  height: 30px;
  position: relative;
}

.progress-bar {
  height: 100%;
  width: 0%;
  transition: width 0.5s;
  color: #000;
  /* Text color can be adjusted */
}

.progress-percentage {
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 100%;
  line-height: 30px;
  width: 100%;
  text-align: center;
  color: white;
  /* Ensure text stands out on the progress bar */
  font-weight: bold;
  z-index: 1;
}